.drop-zone {
  padding-top: 4rem;
  padding-left: 4.5rem;
  padding-right: 1rem;
  display:inline-block;
}

.big-card {
  color:whitesmoke;
  padding-top: 0.7rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.1rem;
  background-color: #A0A0A0;
}

.big-card-label {
  font-size:15px;
}

.card {
  max-width: 15rem;
}

.card-body {
  font-size:10px; 
  padding: 1rem 1.25rem;
}

.drag-el {
  background-color: #;
  margin-bottom: 10px;
  padding: 5px;
}